<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Tasks</title>
</head>

<body>
	<h1>Add New Tasks</h1>
	<form action="/tasks" method="POST">
		<section>
			<label for="task">Task:</label>
			<input type="text" name="task" id="task" placeholder="New Task">
		</section>
		<br>
		<section>
			<label for="priority">Priority: </label>
			<input type="number" name="priority" id="priority"  min="0" max="5">
			<!-- <select name="Priority" id="Priority">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select> -->
		</section>
		<br>
		<button>Add Task</button>
	</form>
</body>

</html>
